extends layout 

block layout-content 
    div.View
        h1.Banner #{network} Block Explorer 
            div.NavButtons
                a(href="/")
                    div.NavButton Refresh
        div.Message
            div.Title
                h3 Latest Block ##{blockNumber}
                h5 Time:       #{time}
                h5 Block Hash: #{blockHash}
                h5 Transactions:
                ul
                    each tx, index in blockTxs
                        li
                            //- take transaction hash and build new request, pass to href
                            a(href='/transaction' + '?txHash=' + tx.hash)= (index + 1) + ': ' + tx.hash
