extends layout 

block layout-content 
    div.View
        h1.Banner #{network} Block Explorer
            form.form-signup(action="/search", method='GET') 
                div.form-group
                    input#name.form-control(type='text', placeholder='Search by Address or Transaction Hash', name='input')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Search
            div.NavButtons
                a(href="/")
                    div.NavButton Refresh
        div.Message
            div.Title
                h3 Latest Block ##{blockNumber}
                h5 Time:       #{time}
                h5 Block Hash: #{blockHash}
                h5 Transactions:
                ul
                    each tx, index in blockTxs
                        li
                            //- take transaction hash and build new request, pass to href
                            a(href='/transaction' + '?txHash=' + tx.hash)= (index + 1) + ': ' + tx.hash
