extends layout 

block layout-content 
    div.View
        h1.Banner #{network} Block Explorer 
            div.NavButtons
                a(href="/")
                    div.NavButton Home
        div.Message
            div.Title
            h3 Transaction Hash: #{txHash}
            table(style='width:100%', border='1')
                thead
                    tr 
                        td Block Number:
                        td #{blockNumber}
                    tr
                        td Confirmations:
                        td #{confirmations}
                    tr
                        td Data:
                        td #{data}
                    tr
                        td From:
                        td #{from}
                    tr
                        td To:
                        td #{to}
                    tr
                        td Gas Limit:
                        td #{gasLimit}
                    tr 
                        td Gas Price:
                        td #{gasPrice}
                    tr 
                        td Value:
                        td #{value}